$tablet-view-screen: 1280px !default;
$mobile-view-screen: 640px !default;

$page-background-color: #f7f7f7 !default;
$page-background-inverted-color: white !default;

$block-active-color: #6cb14f !default;
$block-shadow-color: #bbbbbb !default;

$text-strong-color: #222222 !default;
$text-medium-color: #444444 !default;
$text-light-color: #888888 !default;

$border-color: #eeeeee !default;

$color-status-success: #6BCA44 !default;
$color-status-info: #36A4E8 !default;
$color-status-warning: #EE7422 !default;
$color-status-error: #AE3A31 !default;

$color-green: #6BCA44 !default;
$color-blue: #36A4E8 !default;
$color-dark-blue: #4772AA !default;
$color-violet: #6258C5 !default;
$color-purple: #9A52B8 !default;
$color-pink: #C154B0 !default;
$color-gray: #898989 !default;
$color-light-brown: #D6B542 !default;
$color-orange: #EE7422 !default;
$color-light-red: #DE5248 !default;
$color-dark-red: #AE3A31 !default;
$color-white: #FBFCFF !default;

$main-font-face: 'Ubuntu', 'Open Sans', Helvetica, sans-serif !default;
$footer-height: 2rem !default;

//@media screen and (max-width: $tablet-view-screen) and (min-width: $mobile-view-screen) {
//}

//@media screen and (max-width: $mobile-view-screen) {
//}
